*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	padding: 20px;
}

img{
	border: 0;
}

#container{
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 0 auto;
	border:3px solid #333;
	position: relative;
}

#list{
	width: 4800px;
	height: 400px;
	position: absolute;
	z-index: 1;
}
#list img{
	float: left;
	width: 600px;
	height:400px;
}

#buttons{
	position: absolute;
	height: 10px;
	width: 120px;
	z-index: 2;
	bottom: 20px;
	left: 250px;
}
#buttons span{
	cursor: pointer;
	float:left;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #333;
	margin-right: 5px;
}

#buttons .on{
	background: orangered;
}

.arrow{
	/*display: none;*/
	cursor: pointer;
	z-index: 3;
	top:180px;
	font-size: 38px;
	position: absolute;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

#prev{
	left:20px;
}
#next{
	right: 20px;
}
